body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 20px;
}
.center{
    text-align: center;
    color:darkblue;
    font-weight: bold;
    margin:30px;
}
table{
    margin: 30px;

}
table, th, tr, td{
    border-collapse: collapse;
    border: 2px solid blue;
    padding: 3px;

}
header {
    #background: #9d3e42;
    background: #5D6D7E;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color:darkorange;
    float:none;
    padding: 0 30px;
}
fieldset{
    background : #AEB6BF;
    float:left;
    margin: 10px;
    width:35%;
}
legend{
    color:darkblue;
    font-weight: bold;
}

input[type=text]{
    color:blue;
    font-weight: bold;
    font-size:1,6em;
}
input[type=submit]{
    color:maroon;
    font-weight: bold;
    font-size:1,8em;
    margin-top:20px;
}
input[type="submit"][disabled]{
    color:darkgrey;
    font-weight: normal;
}

label{
    color:blue;
    font-weight: bold;

}
.listado_contactos{
    background : #AEB6BF;
    float:right;
    margin: 10px;
    padding: 10px;
    width:55%;
}
.variable {
    color:maroon;
    font-weight: bold;
    font-size: 1.3em;
}
.error {
    color: darkred;
}
.error p, .error h4 {
    margin: 5px auto;
}